.about-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.profile {
    margin: auto;
    min-width: 200px;
    max-width: 480px;
    /* overflow: hidden; */
    /* border: 1px red solid; */
}

.profile>.profile-image {
    object-position: 50% 50%;
    margin: auto;
    width: calc(100% - 40px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* border: red solid 1px; */
    overflow: hidden;
}

.profile img {
    object-fit: cover;
    height: 100%;
}